.catradiogroup{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    input{
        display: none;
    }
    label{
        color: var(--text);
        margin: 10px;
        border: 2px solid var(--border);
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-radius: 20px;
        justify-content: space-between;
    }
}
.catradiogroup label:hover{
    border: 2px solid rgba(95, 82, 211, 0.50);
    transform: scale(1.15);
}
.catradiogroup label:active{
    border: 2px solid rgba(95, 82, 211, 0.50);
    transform: scale(0.95);
}
.catradiogroup input:checked + label{
    border: 2px solid rgba(95, 82, 211, 1);
}
.getintoinspire{
    display: flex;
    flex-direction: column;
    align-items: center;
    .getintoinspire_btn{
        border: 2px solid var(--border);
        border-radius: 20px;
        font-size: 18px;
        height: 30px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .getintoinspire_btn:hover{
        cursor: pointer;
        transform: scale(1.15);
        box-shadow: white 0 0 8px;
    }
}