.cardlayout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 25px;
}
.full{
    height: 100%;
}
@media (max-width: 805px) {
    .cardlayout{
        gap: 10px;
        padding: 10px;
    }
}