.checkout_container{
    box-shadow: rgba(255, 255, 255, 0.5) 0 0 8px;
    background-color: rgba(255, 255, 255, 0.074);
    flex-wrap: wrap;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 20px 20px 40px 20px;
    gap: 10px;
    h1 {
        margin: 5px 0 5px 15px;
        font-size: 27.5px;
    }
    .checkout_details {
        padding: 0 10px;
        width: 300px;
        display: flex;
        flex-direction: column;
        .input_box {
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            span {
                margin: 0 0 10px 5px;
            }

            input {
                background: none;
                height: 35px;
                border-radius: 20px;
                outline: 0;
                border: 2px solid rgba(255, 255, 255, 0.2);
                padding: 0 10px;
            }
            ::placeholder{
                color: rgba(255, 255, 255, 0.5);
            }
            input:hover{box-shadow: white 0 0 12px;}
            input:focus {box-shadow: white 0 0 6px;}
        }

        .hori {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            input {
                width: calc(100% - 30px);
            }
        }
    }
    .checkout_paymentmethod{
        padding: 0 10px;
        width: 300px;
        display: flex;
        flex-direction: column;
        .paymentmethodpart{
            display: flex;
            flex-direction: column;
        }
        h1{
            margin: 5px 0 30px 15px;
        }
        input{
            appearance: none;
        }
        label{
            border: 2px solid rgba(255, 255, 255, 0.2);
            border-radius: 20px;
            padding: 10px;
            margin: 5px 0;
            height: 40px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
        }
        button{
            border: 2px solid rgba(255, 255, 255, 0.2);
            border-radius: 20px;
            padding: 5px 15px;
            font-size: 18px;
            margin: auto auto 10px auto;
        }

        button:hover{box-shadow: white 0 0 12px;}
        button:focus {box-shadow: white 0 0 6px;}
        label:hover{box-shadow: white 0 0 12px;}
        label:focus {box-shadow: white 0 0 6px;}
        input:checked + label{border: 2px solid rgba(255, 255, 255, 0.75);}
    }
}