.regcontainer{
    box-shadow: rgba(255, 255, 255, 0.5) 0 0 8px;
    background-color: rgba(255, 255, 255, 0.074);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    backdrop-filter: blur(20px);
    *{
        box-sizing: border-box;
        margin: 0;
    }
    border-radius: 20px;
    h1{
        margin: 0 0 20px 0;
        font-size: 46px;
    }
    .details{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        .inputbox{
            width: calc(100% - 60px);
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            font-size: 18px;
            input{
                width: 100%;
                height: 50px;
                background: transparent;
                outline: none;
                border: 2px solid rgba(255, 255, 255, 0.2);
                border-radius: 20px;
                font-size: 16px;
                color: white;
                padding: 20px 45px 20px 20px;
            }
            ::placeholder{
                color: rgba(255, 255, 255, 0.5);
            }
            input:hover{box-shadow: white 0 0 12px;}
            input:focus {box-shadow: white 0 0 6px;}

            i{
                position: absolute;
                padding: 20px;
            }
        }
        .rememberme{
            margin: -10px 0 0 0 ;
            padding: 0 40px;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 5px;
            p{font-size: 16px;}
        }
    }
    .btn{
        margin: 15px 0 0 0;
        background: white;
        outline: none;
        border: none;
        border-radius: 20px;
        width: calc(100% - 100px);
        height: 40px;
        color: black;
        font-size: 18px;
        font-weight: bold;
    }
    .btn:hover {
        box-shadow: white 0 0 16px;
        transform: scale(105%);
    }
    .btn:active {
        box-shadow: white 0 0 7px;
        transform: scale(95%);
    }
    .reglogswitcher{
        margin: 10px 0;
        p{
            font-size: 16px;
        }
        button{
            font-size: 16px;
        }
        button:hover{
            text-decoration: underline;
        }
    }
}
@media (max-width: 457px) {
    .regcontainer{
        width: 80vw;
        .details{
            .inputbox{
                width: 100%;
            }
        }
    }
}